.box {
  height: 120px;
  background-color: $tertiaryColor;
  color: $fontLight;
  font-size: $fontLarge;
  text-transform: uppercase;
  padding: 0 0 12px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) {
  .box {
    height: 240px;
    grid-column-start: span 6;
  }
}

@media screen and (min-width: 992px) {
  .box {
    grid-column-start: span 4;
  }
}