.main--flex {
  padding: 18px 12px;
  overflow: auto;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .main--flex {
    padding: 24px;
  }
}