/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$mainColor: #737E87;
$secundaryColor: #eceded;
$tertiaryColor: #d6dcdf;
$white: #fff;
$fontBase: 18px;
$fontSmall: 14px;
$fontLarge: 40px;
$fontLight: #fafafa;