.footer {
  background-color: $mainColor;
  text-align: center;
  font-size: $fontBase;
  padding: 1em;
  position: fixed;
  bottom: 0;
  z-index: 10;
  right: 0;
  left: 0;
  color: $white;
  font-weight: 300;
}

@media screen and (min-width: 768px){
  .footer {
    position: initial;
    padding: 90px 36px;
  }
}