.footer {
  background-color: $mainColor;
  text-align: center;
  font-size: $fontBase;
  padding: 1em;
  color: $white;
  font-weight: 300;
}

@media screen and (min-width: 768px){
  .footer {
    padding: 90px 36px;
  }
}