.header {
  background-color: $mainColor;

  a {
    color: $white;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 37px 20px;
  }

  .header__inner {
    max-width: 930px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
  }
}