@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    max-width: 1234px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .grid::after{
    content: '';
    width: calc(33.3333% - 14px); // Same width of .grid__element
  }
}